In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, wilcoxon, ttest_rel
from scipy import stats
from statsmodels.stats.power import ttest_power
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = {'Salesperson':[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
        'Old Scheme':[57000,103000,59000,75000,84000,73000,35000,110000,44000,82000,67000,64000,78000,53000,41000,39000,80000,87000,73000,65000,28000,62000,49000,84000,63000,77000,67000,101000,91000,50000],
        'New Scheme':[62000,122000,54000,82000,84000,86000,32000,104000,38000,107000,84000,85000,99000,39000,34000,58000,73000,53000,66000,78000,41000,71000,38000,95000,81000,58000,75000,94000,100000,68000
 ]}

In [3]:
table_1=pd.DataFrame(data)

In [4]:
table_1

    Salesperson  Old Scheme  New Scheme
0             1       57000       62000
1             2      103000      122000
2             3       59000       54000
3             4       75000       82000
4             5       84000       84000
5             6       73000       86000
6             7       35000       32000
7             8      110000      104000
8             9       44000       38000
9            10       82000      107000
10           11       67000       84000
11           12       64000       85000
12           13       78000       99000
13           14       53000       39000
14           15       41000       34000
15           16       39000       58000
16           17       80000       73000
17           18       87000       53000
18           19       73000       66000
19           20       65000       78000
20           21       28000       41000
21           22       62000       71000
22           23       49000       38000
23           24       84000       95000
24           25       63000       81000
25           26       77000       58000
26           27       67000       75000
27           28      101000       94000
28           29       91000      100000
29           30       50000       68000

In [5]:
table_1.describe()

       Salesperson     Old Scheme     New Scheme
count    30.000000      30.000000      30.000000
mean     15.500000   68033.333333   72033.333333
std       8.803408   20455.980212   24062.394947
min       1.000000   28000.000000   32000.000000
25%       8.250000   54000.000000   55000.000000
50%      15.500000   67000.000000   74000.000000
75%      22.750000   81500.000000   85750.000000
max      30.000000  110000.000000  122000.000000

In [6]:
table_1.shape

(30, 3)

<h1>1) Find the mean of old scheme and new scheme column. (5 points)</h1>

In [7]:
table_1['Old Scheme'].mean()

68033.33333333333

In [8]:
table_1['New Scheme'].mean()

72033.33333333333

<h1>2)Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)</h1>

In [9]:
# Given five % significance i.e alpha=0.05

In [10]:
#To check if new scheme has significantly raised outputs

In [11]:
#Null Hypothesis: There is no significant difference after the new scheme is implemented.
#Alternate Hypothesis: There is a significant difference after the new scheme is implemented.

In [12]:
#applying paired sample ttest because this is a test that tests for a significant difference between 2 related variables i.e coming from the same source ie the same salesperson of the titan company
stat,pval=ttest_rel(table_1['Old Scheme'],table_1['New Scheme'])
print(stat,pval)

-1.5559143823544377 0.13057553961337662

In [13]:
#Since p-value (0.13057) is higher than 0.05, we accept/fail to reject the Null Hypothesis. The new scheme hasn't significantly raised outputs.

<h1>3)What conclusion does the test (p-value) lead to? (2.5 points)</h1>

In [14]:
#Since p-value (0.13057) is higher than 0.05(significance level, we accept/fail to reject the Null Hypothesis.There is no significant difference after the new scheme is implemented,the new scheme hasn't significantly raised outputs.

<h1> 4) Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
       </h1>

In [15]:
#a) The probability of a type 1 error? (2.5 points)

In [16]:
# The Probability of Type I error is equal to the specified significant level which in this case is = 0.05 or 5%

b) What is the p-value of the hypothesis test if we test for a difference of 5000? (10 points)

In [27]:
#let us assume that theMean of old scheme - mu0 and the Mean of new scheme - mu1
#H0:mu1-mu0<5000 - is ourNull Hypothesis
#H1:mu1-mu0>5000 - is our Alternate Hypothesis
#As it is given that The alternate hypisothesis is the difference between the mean of the new and the old scheme is greater than 5000.
stat,pval=ttest_rel(table_1['Old Scheme'],table_1['New Scheme'])
print(stat,pval)
pvalue=1-pval # because by default it gives left tail area so to get the right tail area we subtract the pvalue from 1,because we are testing for alternative hypothesis which says difference is >5000
print('pavlue for alternate hyppothesis',pvalue)
#since the p value is greater than alpha which is 0.05, we accept the null hypothesis, which means that the difference between the means is less than 5000.

-1.5559143823544377 0.13057553961337662
pavlue for alternate hyppothesis 0.8694244603866234

c) Power of the test (5 points)

In [28]:
var1=table_1['Old Scheme'].var()

In [29]:
var2=table_1['New Scheme'].var()

For calculating effect size for computing power of the test i have used thr formula
d = (u1 - u2) / s
Where d is the Cohen’s d, u1 is the mean of the first sample, u2 is the mean of the second sample, and s is the pooled standard deviation of both samples.
The pooled standard deviation for two independent samples can be calculated as follows:
s = sqrt(((n1 - 1) . s1^2 + (n2 - 1) . s2^2) / (n1 + n2 - 2))
Where s is the pooled standard deviation, n1 and n2 are the size of the first sample and second samples and s1^2 and s2^2 is the variance for the first and second samples. The subtractions are the adjustments for the number of degrees of freedom.

In [30]:
5000/np.sqrt(((30-1)*var1+(30-1)*var2)/30+30-2) #5000=mu1-mu2 ie the difference

0.16102263711149803

In [31]:
import statsmodels.stats.power as smp
smp.ttest_power(0.16102263711149803, nobs=30, alpha=0.05) #nobs is number of observations

0.13661249329091196